body{
    background-color:#64b7ff;
    margin:0px;
    padding:0px;
}
nav{
    height:50px;
    background-color:white;
    margin:0px auto;
    padding:10px;
}
nav button{
    float:right;
}
nav button{
    width:100px;
    height:25px;
    background-color:#0080ff;
    margin:15px;
    color:white;
    border:none;
    border-radius: 7px;
}
form{
    margin:150px auto;
    width:30%;
    height:100%;
    padding:0px;
    border-radius:5px;
    border:solid 1px gray;
    background-color:white;
    
    
}
form div{
    margin:auto;
}
form h2{
    margin-left:20px;
}
form input{
    margin:10px;
    margin-left:20px;
    width:80%;
    
    height:35px;
    border-radius:7px;
    border:1px solid lightgray;
}

form button{
    width:83%;
    height:35px;
    background-color:#0080ff;
    margin:15px;
    color:white;
    border:none;
    border-radius: 7px;
}


